:root {
  --vt-c-black: #181818;
  --vt-b-blue: #2f24ce;
  --vt-c-text-dark-2: rgb(235, 235, 235);
  --vt-b-blue: #242F40;
  --vt-b-green: #33673B;
  --vt-b-red: #CC3F0C;
  --vt-b-yellow: #CCA43B;
  --header-height: 5rem;
}

:root {
  --color-background: var(--vt-c-black);
  --color-text: var(--vt-c-text-dark-2);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-weight: 600;
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  min-height: 100vh;
  /*width: 100%;*/
  color: var(--color-text);
  background-color: var(--color-background);
  background: url(./back.svg);
  background-size: cover;
  font-family: Montserrat;
}

.plain-link {
  color: var(--color-text);
  font-size: 20px;
  text-align: center;
  display: inline-block;
  position: relative;
}

.plain-link:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--color-text);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.plain-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


@media screen and (max-width: 600px) {

  *,
  *::before,
  *::after {
    font-weight: normal;
  }

  .plain-link {
    color: var(--color-text);
    font-size: 16px;
  }

}